@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply m-0 p-0 bg-background text-zinc-400 font-sans w-full min-h-screen;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-zinc-100;
  }
}

/* Custom Cursor Hide Default */
@media (pointer: fine) {
  body {
    cursor: none;
  }
  a, button, [role="button"] {
    cursor: none !important;
  }
}

/* Lenis Recommended CSS */
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
